/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background: #081b29;
    color: #ededed;
    
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}
.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition:   3s;
}
.navbar a:hover,
.navbar  a.active {
    color: #0095ff;
}

 .home {
     display: flex;
     align-items: center;
     height: 100vh;
     padding: 0 10%;
     transition : 2s;


 }
 .home-content{

     max-width: 600px;
}
 .home-content h1 {
     font-size: 56px;
     font-weight: 700;
 }
 .home-content h3{
     font-size: 32px;
     font-weight: 700;
     color:   #ededed  ;
 }
 .home-content p{
     font-size: 16px;

 }
 .home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    margin: 20px 0 40px;
 }
 .btn-box a {
     display: inline-flex;
     justify-content: center;
     align-items: center;
     width: 150px;
     height: 100%;
     background-color: #0095ff;
     border: 2pxs  solid blue;
     border-radius: 8px;
     font-size: 19px;
     color: #081b29;
     text-decoration: none;
     font-weight: 600;
     letter-spacing: 1px;
     overflow: hidden;
     z-index: 1;
    }
  .btn-box a {
    background: transparent;
     color: #0095ff;
      border: 3px solid #0095ff;
      transition: 0.3s;

}
.btn-box a:hover{
     color: #081b29; 
    background-color: #0095ff;
}
.home-sci{
    position: absolute;
    bottom: 130px;
    width: 170px;
    display: flex;
    justify-content: space-between;

}
.home-sci a {
    position: relative;
     display: inline-flex;
     justify-content: center;
     align-items: center;
     width: 50px;
     height: 50px;
     border: transparent;
     border: 2px solid blue;
     border-radius: 50%;
     font-size: 20px;
         text-decoration: none;
         color: #0095ff;
         transition: 0.ms;

}
.home-sci a:hover{
    color: #081b29; 
    background-color: #0095ff;
}
.img1{
     margin-left: 250px;
     width: 28vw;
     border-radius: 50%;
     animation: floatImage 4s ease-in-out infinite ;


}
@keyframes floatImage {
     0%  {
        transform: translateY(0);
     }
     50%{
        transform: translateY(-2.4rem);
     }
     100% {
        transform: translateY(0);
     }
}
@keyframes  showRight {
     100% {
        width: 0;
     }
}


span{
    color: #0095ff;
}
.img2{

    width: 25vw;
    border-radius: 30px;
}
.acontent{
    padding: 100px;
    font-size: 20px;

}

a.btn2{
    margin-top: 50px;
padding: 10px;
}
.Services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 30px;
    
}

.flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
  }
  
  .single-chart {
    width: 33%;
    justify-content: space-around ;
  }
  
  .circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
  }
  
  .circle-bg {
    fill: none;
    stroke: #2d2f68;
    stroke-width: 3.8;
  }
  
  .circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
  .circular-chart.orange .circle {
    stroke: #ff9f00;
  }
  
  .circular-chart.green .circle {
    stroke: #4CC790;
  }
  
  .circular-chart.blue .circle {
    stroke: #3c9ee5;
  }
  
  .percentage {
    fill: #0095ff;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
  }

  .html{
    color: #0095ff;
    margin-bottom: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    
  }
.Skills{
    font: 1em sans-serif;
    font-size: 100px;
    color: #ededed;
    text-decoration: none;
    margin-left: 800px;
    margin-bottom: 200px;
    transition: 1s;
}
 .projects{
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-left: 50px;
     margin-right: 50px;
     
 }
.pr1{
     width: 500px;
     height: 300px;
     border-radius: 25px;
     animation: floatImage 4s ease-in-out infinite ;



    }
.pr2{
    width: 500px;
    height: 300px;
    border-radius: 25px;
    animation: floatImage 4s ease-in-out infinite ;



}
.pr3{
    width: 500px;
    height: 300px;
    border-radius: 25px;
    animation: floatImage 4s ease-in-out infinite ;

}
.pro-title{
    font: 1em sans-serif;
    font-size: 100px;
    color: #ededed;
    text-decoration: none;
    margin-left: 700px;
    margin-bottom: 200px;
    transition: 1s;
    margin-top: 200px;

}
.contact{
    font: 1em sans-serif;
    font-size: 100px;
    color: #ededed;
    text-decoration: none;
    margin-left: 700px;
    margin-bottom: 200px;
    transition: 1s;
    margin-top: 200px;
}
.contact-cont{
     display: flex;
      justify-content: space-between;
    font: 1em sans-serif;
    font-size: 100px;
    color: #ededed;
    text-decoration: none;
    margin-left: 200px;
    margin-bottom: 200px;
    margin-right: 200px;
    transition: 1s;
    margin-top: 200px;

} */
